# Credenciales y archivos sensibles
.netrc
_netrc.txt
*.env
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Archivos temporales
*.tmp
*.temp
temp/
tmp/

# Logs
*.log
logs/

# Archivos del sistema
.DS_Store
Thumbs.db